* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html {
  box-sizing: border-box;
} */
/* .container {
  margin: auto;
  /* align-items: center; */
/* width: 95%;
} */

body {
  padding: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(195, 191, 191);
}

.welcome {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.8rem;
}

.logo {
  height: 5rem;
  border-radius: 10rem;
}
.login {
  display: flex;
}
.login__input {
  border: none;
  border-radius: 10rem;
  margin-right: 1rem;
  text-align: center;
  height: 2.5rem;
}

/* Login Button */
.login__btn {
  border: none;
  background: none;
  cursor: pointer;
  width: 2rem;
  border-radius: 10rem;
}
.login__btn:hover {
  background-color: white;
}
/* Main App */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  opacity: 100;
  transition: all 1s;
}
.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}
.balance__date {
  font-size: 1.4rem;
  color: #888;
}
.balance__value {
  font-size: 4.5rem;
  font-weight: 300;
}
/* .movements {
}  */
